grafana:
  deploy: false

prometheus:
  fullnameOverride: prometheus
  
  server:
    fullnameOverride: prometheus-server
    service:
      type: NodePort
      nodePort: 30090

  networkPolicy:
    enabled: true
    allowedCIDRs:
      - "{{ ansible_host }}/32"
  
  createSecret: true

  propagationPolicies:
    create: true
  