---
- name: Ensure playbook is running on Ubuntu
  tags: always
  ansible.builtin.assert:
    that:
      - ansible_distribution == "Ubuntu"
    msg: "This playbook is only designed for Ubuntu systems"

- name: Enforce minimum Ansible version
  tags: always
  ansible.builtin.assert:
    that:
      - ansible_version.full is version('2.15', '>=')
    msg: Minimum ansible-core version required is 2.15

- name: Setup hostnames
  ansible.builtin.include_tasks: hostname.yml
  tags:
    - hostname

- name: Setup system
  ansible.builtin.include_tasks: system.yml
  tags:
    - system

- name: Setup user
  ansible.builtin.include_tasks: user.yml
  tags:
    - user

- name: Setup network
  ansible.builtin.include_tasks: network.yml
  tags:
    - network

- name: Setup wireguard
  ansible.builtin.include_tasks: wireguard.yml
  tags:
    - wireguard

- name: Setup k8s tooling
  ansible.builtin.include_tasks: k8s.yml
  tags:
    - k8s-tools
